# ================================
# Coleta de dados
# ================================
requests           
pypdf
beautifulsoup4            

# ================================
# Orquestração do RAG
# ================================
langchain
langchain-community
langchain-core
langchain-ollama
langgraph

# ================================
# Modelos de IA e Embeddings
# ================================
langchain-huggingface
sentence-transformers

# ================================
# Base vetorial local
# ================================
faiss-cpu

# ================================
# Interface
# ================================
streamlit

# ================================
# Manipulação de dados e Utilitários
# ================================
tqdm